# Configurações do PostgreSQL
DB_USER=postgres
DB_HOST=
DB_NAME=bet_db
DB_PASSWORD=
DB_PORT=5432

# Configuração do servidor
PORT=3000

# Configurações de autenticação
JWT_SECRET=
SESSION_SECRET=

# Configurações de Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_de_app_do_gmail
EMAIL_FROM=seu_email@gmail.com

#BASE_URL=http://localhost:3000